[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
pandas = "*"
ipykernel = "*"
gdown = "*"
pillow = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
virtualenv = "*"
tensorflow = "*"
seaborn = "*"
fbpca = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
